/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

.btn-primary{
    width: 160px;
height: 64px;
border-radius: 5px;
background: #F15B22;
color: #FFF;
font-size: 20px;
font-weight: 600;
border: 0px;
margin-top: 32px;
}

.section-para{
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.primary-title{
    color:#151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}


/* main section styles */

main{
    max-width: 1140px;
    margin: 0px 230px;
}

/* head section styles */



.banner{
    background-image: url('images/banner/banner1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.greetings{
    text-align: right;
    align-items: center;
    padding: 300px 230px 0px 845px;
}

.head-title{
    color: var(--dark-01, #151414);
    padding-bottom: 24px;
font-size: 65px;
font-weight: 700;
}

/* failure section styles */


.my-failures{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
    gap: 100px;
}

.fail-list{
    margin-top: 25px;
}
.fail-list li{
    margin-bottom: 8px;
}

/* Goals section styles */
.goals ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 80px;
}
.goals ul li{
    list-style-type: none;
}
.goals ul li h3{
    margin-top: 18px;
    color: var(--dark-01, #151414);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    }
.goals ul li p{
    margin-top: 16px;
    color: var(--dark-03, #737272);
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.plans{
    text-align: center;
}
.plans> h3{
    margin-top: 170px;
}

/* motivation section styles */

.motivation{
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.7), rgba(0, 255, 0, 0)), url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    margin-top: 130px;
    border-radius: 8px;
}


#motivation-title{
    color: #FFF;

}
.motivaiton button{
    color: white;
    background-color: #F15B22;
}

/* footer styles */

footer{
    background: #151414;
    margin-top: 130px;
}

#future-title{
    color: white;
    padding-bottom: 15px;
}
.foot{
    display: flex;
    max-width: 1140px;
    justify-content: space-evenly;
    padding: 130px 230px;
    gap: 330px;
    color: #FFF;

}
.social-links ul{
    display: flex;
    padding-left: 0%;
}
.social-links li{
    list-style-type: none;
    padding-right: 25px;

}

.footer-text p{
    padding-bottom: 24px;
}
.subscribe {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.footer-form input{
    
    padding: 21px 158px 22px 21px;
    border-radius: 5px;
    background-color: black;
    color: #F3F3F3;
    margin-top: 30px;
}
